<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <controlSources>
      <source assembly="Sc.MultiTreeList" namespace="Sc.MultiTreeList.Controls" prefix="mtl" mode="on"/>
    </controlSources>

    <fieldTypes>
      <fieldType name="Treelist with Multiple Roots" type="Sitecore.Data.Fields.MultilistField, Sitecore.Kernel" />
      <fieldType name="TreelistEx with Multiple Roots" type="Sitecore.Data.Fields.MultilistField, Sitecore.Kernel" />
    </fieldTypes>

    <contentSearch search:require="Solr">
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap>
            <fieldTypes >
              <fieldType fieldTypeName="treelist with multiple roots|treelistex with multiple roots" returnType="stringCollection"/>
            </fieldTypes>
          </fieldMap>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="treelist with multiple roots|treelistex with multiple roots" fieldReaderType="Sitecore.ContentSearch.FieldReaders.MultiListFieldReader, Sitecore.ContentSearch"/>
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
